Repository 4Subsea/drio-python, pull requests merged in 2023-03, with the labels that each got.

#60 Handle MissingTokenError when refreshing token
  datareservoirio/authenticate.py
Labels: bug

#62 Update packaging to latest standards
  LICENSE
  MANIFEST.in
  pyproject.toml
  setup.cfg
  tox.ini
Labels: chore

#57 Test _blob_to_df function
  tests/conftest.py
  tests/test_something.py
  tests/test_storage/test_storage.py
  tests/testdata/example_drio_blob_file.csv
Labels: test

#64 Test _df_to_blob function
  tests/conftest.py
  tests/test_storage/test_storage.py
Labels: test

#63 Log latency to Application Insight
  datareservoirio/_constants.py
  datareservoirio/client.py
  datareservoirio/environments.py
  pyproject.toml
  tests/conftest.py
Labels: enhancement

#67 test: Add integration test that can create/append/delete timeseries with numeric data
  integration_tests/README.md
  integration_tests/conftest.py
  integration_tests/test_numeric_datetime.py
Labels: test
