Repository 4Subsea/drio-python, pull requests merged in 2023-04, with the labels that each got.

#72 Remove cache format references from Sphinx documentation
  docs/user_guide/advanced_config.rst
Labels: documentation

#65 Test `Storage.get` method
  tests/conftest.py
  tests/response_cases.py
  tests/test_storage/test_storage.py
  tests/testdata/RESPONSE_CASES_GENERAL/example_drio_blob_file.csv
  tests/testdata/RESPONSE_GROUP1/19356.csv
  tests/testdata/RESPONSE_GROUP1/19357.csv
  tests/testdata/RESPONSE_GROUP1/19358.csv
  tests/testdata/RESPONSE_GROUP1/19359.csv
  tests/testdata/RESPONSE_GROUP1/TimeSeries_API_output.json
  tests/testdata/RESPONSE_GROUP1/dataframe.csv
Labels: test

#69 Integration test overlapping timeseries
  integration_tests/test_overlapping.py
Labels: test

#70 Integration test for creating/downloading empty timeseries
  integration_tests/test_empty.py
Labels: test

#71 Integration test for sparse data
  integration_tests/test_sparse_data.py
Labels: test

#73 Integration test with caching enabled
  integration_tests/test_numeric_datetime_cached.py
Labels: test

#74 Delete series at the end of integration test
  integration_tests/test_overlapping.py
Labels: test

#77 Check that data is read from cache in integration test w/caching
  integration_tests/test_numeric_cached.py
Labels: test

#78 Test _df_to_blob with string values
  tests/test_storage/test_storage.py
Labels: test

#79 Test _blob_to_df function with string values
  tests/response_cases.py
  tests/test_storage/test_storage.py
  tests/testdata/RESPONSE_CASES_GENERAL/dayfile_numeric.csv
  tests/testdata/RESPONSE_CASES_GENERAL/dayfile_string.csv
Labels: test

#81 Limit max_workers to 2
  datareservoirio/client.py
Labels: enhancement

#83 Optimize number of requests to REST API
  datareservoirio/client.py
  datareservoirio/storage/storage.py
  tests/response_cases.py
  tests/test_client.py
  tests/test_storage/test_storage.py
  tests/testdata/RESPONSE_GROUP1/TimeSeries_API_output_1672358400000000000.json
  tests/testdata/RESPONSE_GROUP1/TimeSeries_API_output_1672444800000000000.json
  tests/testdata/RESPONSE_GROUP1/TimeSeries_API_output_1672531200000000000.json
  tests/testdata/RESPONSE_GROUP1/TimeSeries_API_output_1672617600000000000.json
Labels: enhancement

#85 Fix download of malformatted CSV files
  datareservoirio/storage/storage.py
  tests/response_cases.py
  tests/test_storage/test_storage.py
  tests/testdata/RESPONSE_CASES_GENERAL/dayfile_string_malformatted.csv
Labels: bug

#86 Test Storage class
  datareservoirio/_utils.py
  datareservoirio/storage/storage.py
  tests/test_storage/test_storage.py
Labels: test

#84 Test Storage.put method
  datareservoirio/storage/storage.py
  tests/response_cases.py
  tests/test_storage/test_storage.py
Labels: test

#87 Test CacheIO class
  datareservoirio/storage/cache_engine.py
  tests/test_storage/test_cache_engine.py
  tests/testdata/data_float.parquet
  tests/testdata/data_string.parquet
Labels: test

#88 Maintenance of unit tests
  tests/conftest.py
  tests/response_cases.py
  tests/test_client.py
  tests/test_storage/test_cache_engine.py
  tests/test_storage/test_storage.py
  tests/testdata/RESPONSE_GROUP1/data_days.json
Labels: chore

#89 Test _CacheIndex class
  tests/test_storage/test_cache_engine.py
  tests/testdata/RESPONSE_GROUP2/cache/v3/parquet03fc12505d3d41fea77df405b2563e4920221230daycsv19356csv_Zko4NU1ESnFzVFc2ekRKYmQrRmE0QT09
  tests/testdata/RESPONSE_GROUP2/cache/v3/parquet03fc12505d3d41fea77df405b2563e4920221231daycsv19357csv_d1haRlV6akM2U0lzMDlPcWt0dFpXUT09
  tests/testdata/RESPONSE_GROUP2/cache/v3/parquet1d9d844990bc45d6b24432b33a32415620221231daycsv19357csv_YzRjUnpkYkpDVWtZYTFKa3Byc1VXdz09
  tests/testdata/RESPONSE_GROUP2/cache/v3/parquet1d9d844990bc45d6b24432b33a32415620230101daycsv19358csv_NkJtbVdhN3VYaXMzK3haZFIydFZ3Zz09
  tests/testdata/RESPONSE_GROUP2/cache/v3/parquet629504a5fe3449049370049874b69fe020221230daycsv19356csv_SlFBeGVITVo2OVdTc0V1YW5LTUpIQT09
  tests/testdata/RESPONSE_GROUP2/cache/v3/parquet629504a5fe3449049370049874b69fe020221231daycsv19357csv_bjVGZHRMdzBub2o1NzV6YzBnaWxvZz09
Labels: test

#90 Test StorageCache class
  tests/conftest.py
  tests/test_storage/test_storage.py
Labels: test
